<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/reset-styles.css">  
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/all.css">
    <link rel="icon" href="assets/img/favicon.png">


      
 
    <title>Amarre egipcio</title>
</head>
<body>

    <!--**************************************************
                        TOPBAR
    ******************************************************-->
    <div class="topbar" id="top">
        <div class="container">
            <div class="topbar-content">
                <ul class="topbar-contact">
                    <li></li>
                    <li><i class="fas fa-phone"></i>+54 9 2996 22-8201</li>
                    <li></li>
                </ul>
                <ul class="topbar-social">
               
                </ul>
            </div>
        </div>
    </div> 
 

     <!--**************************************************
                            HEADER
    	******************************************************-->
    
    <header class="nav">
        <div class="container">
            <div class="header-content">
                <div class="header-logo">
                    <a href="index.html">
                        <p style="color:aliceblue; font-size:32px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Amarre-Egipcio</p>

                    </a>                    
                </div>
                <div id="trigger" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
                

                <nav class="nav-desk">
                    <ul>
                        <li class="active"><a href="#top" class="scroll" style="color:aliceblue">Inicio</a></li>
                        <li><a href="#intro" class="scroll" style="color:aliceblue">Introducción</a></li>
                        <li><a href="#nosotros" class="scroll" style="color:aliceblue">Sobre mí</a></li>
                        <li><a href="#servicios" class="scroll" style="color:aliceblue">Servicios</a></li>
                        <li><a href="#materiales" class="scroll" style="color:aliceblue">Materiales</a></li>
                        <li><a href="#mision" class="scroll" style="color:aliceblue">Dioses</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <nav class="nav-phone">
        <ul>
            <li><a href="#top" class="scroll">Inicio</a></li>
            <li><a href="#intro" class="scroll">Introducción</a></li>
            <li><a href="#nosotros" class="scroll">Sobre mí</a></li>
            <li><a href="#servicios" class="scroll">Servicios</a></li>
            <li><a href="#materiales" class="scroll">Materiales</a></li>
            <li><a href="#mision" class="scroll">Dioses</a></li>
        </ul>
    </nav>